*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}

/* NAVBAR START */
.navbar{
    padding: 1.3rem 0;
    z-index: 3;
    position: absolute;
    top: 0;
}
.navbar .container-xxl .nav-logo span, .offcanvas-logo{
    padding: 0 .35rem;
    border-radius: .4rem;
    color: white;
    background-color: red;
    font-size: 1.35rem;
}
.navbar .nav-text, .nav-logo{
    font-size: 1.35rem;
}
.navbar .nav-text:hover{
    color: red;
}
.navbar .nav-item .nav-home{
    color: red;
}
.navbar .icon{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.navbar .icon a{
    color: #000;
}
.navbar .icon a:hover{
    color: red;
}
/* NAVBAR END */

/* CAROUSEL START */
.carousel-item{
    position: relative;
}
.first-carousel, .second-carousel, .third-carousel{
    position: absolute;
    width: 45rem;
}
.carousel-inner .carousel-item .carousel-text .car-highlight-text{
    color: red;
}
.carousel-inner .carousel-item  .first-carousel{
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}
.carousel-inner .carousel-item  .second-carousel{
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}
.carousel-inner .carousel-item  .third-carousel{
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    width: 50rem;
}

.carousel-text .first-text, .second-text, .third-text{
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
}
.first-para, .second-para, .third-para{
    font-size: 1.1rem;
}
.carousel-text .shop-now{
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: .5rem;
    border: none;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    display: flex;
    gap: .2rem;
    align-items: center;
}

/* CAROUSEL END */

/* DISCOUNT START */
#custom-cards{
    padding: 3rem 2rem 0rem 2rem;
}
.card-size .card-info{
    width: 9rem
}
.card-size .card-info .card-heading{
    font-size: 1.75rem;
}
.card-size .card-info .card-dis{
    font-size: .875rem;
}
.card-size div img{
    width: 100%;
    height: auto;
}
.card-size .dis-btn{
    color: #000;
    font-size: 1.25rem;
    text-decoration: underline;
}
/* DISCOUNT END */

/* NEW ARRIVAL/WEEKLY DEALS SECTION START */
.product-image{
    display: flex;
    position: relative;
}
.product-image .image{
    height: 19.5rem;
    width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
    overflow: hidden;
}
.product-image .image img{
    height: 100%;
    width: 100%;
    transition: all .3s ease-in ;
}
.product-image .wishlist{
    border: none;
    border-radius: 50%;
    background-color: none;
}
.product-image .offer{
    position: absolute;
    font-size: 1rem;
    padding: .1rem .3rem;
    background-color: red;
    color: white;
    border-radius: .45rem;
    top: .5rem;
    left: .5rem;
}
.product-image .view, .wishlist{
    position: absolute;
    bottom: 1.5rem;
    border: none;
    transition: all .3s ease-in-out;
    opacity: 0;
    background-color: #ffffff;
}
.product-image:hover .view{
    opacity: 1;
}
.product-image:hover .wishlist{
    opacity: 1;
}
.product-image .view{
    left: 50%;
    transform: translateX(-78%);
    padding: 7px 16px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;

}
.product-image .wishlist{
    right: 50%;
    transform: translateX(220%);
    padding: .39rem .67rem;
    border-radius: 50%;
}
.product-image .wishlist:hover{
    color:#ffffff;
    background-color: red;
}
.product-image:hover img{
    transform: scale(1.1);
}
.product-image .view:hover{
    color:#ffffff;
    background-color: red;
}
.product-details{
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.product-details .p-text{
    color: #7c7c7c;
    line-height: 1.1rem;
}
.product-details .price{
    font-size: 1rem;
    color: #666;
}
.view-all{
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}
.view-all a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    padding: .35rem .8rem;
    background-color: #dedede;
    border-radius: 1.3rem;
}
.view-all a:hover{
    color: #ffffff;
    background-color: red;
}
.type{
    display: none;
}
/* NEW ARRIVAL/WEEKLY DEALS SECTION START */

/* OFFER SECTION START */
.offer-div {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 16px;
}
.offer-div h1{
    font-size: 2.5em;
}
.offer-div .offer-p1-size, .offer-p2-size{
    font-size: 1.1em;
}
.offer-div .offer-p2-size{
    font-size: 1.4em;
}
.offer-div .offer-sn-btn{
    border: .07rem solid black;
    padding: .3rem 1rem;
    font-size: 1.03em;
    border-radius: .5rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.offer-div .offer-sn-btn:hover{
    background-color: black;
    color: white;
}
/* OFFER SECTION END */

/* MODAL SECTION START */
.show {
    transition: display .3s ease-in-out;
}
#cus-modal-image {
    height: 30rem;
    width: 25rem;
}
.modal-body .row #cus-modal-sideimage{
    flex-direction: column;
    margin-right: 1.5rem;
}
#cus-modal-image #cus-modal-img {
    height: 100%;
    width: 100%;
}
.add-cart, .buy-now {
    width: 8rem;
    padding: .3rem 0;
    border: 1px solid black;
    border-radius: .3rem;
}
.add-cart{
    border: .06rem solid red;
    background-color: transparent;
}
.buy-now{
    background-color: red;
    color: white;
    border: none;
}
.modal-fs{
    font-size: .9rem ;
}
.product-discription {
    display: none;
    font-size: 1.4rem;
}
.quantity-btn-group{
    display: inline-flex;
    border: .06rem solid rgba(0, 0, 0, 0.896);
    border-radius: .3rem;
    position: relative;
}
.quantity-btn-group .minus, .num, .plus{
    padding: .3rem .92rem;
}
.quantity-btn-group .num::before, .num::after{
    position: absolute;
    content: " ";
    width: 1rem;
    height: .1rem;
    background-color: rgba(0, 0, 0, 0.384);
    transform: rotate(90deg);
}
.quantity-btn-group .num::before{
    left:25%;
    top: 48%;
}
.quantity-btn-group .num::after{
    right: 25%;
    top: 48%;
}
.fa-share-nodes, .fa-circle-question, .fa-message, .share-ask-faq div{
    font-size: .85rem;
    cursor: pointer;
}
.modal-side-image{
    height: 7rem;
    width: 6rem;
    border-radius: .3rem;
}
.modal-side-image .modal-side-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
}
/* MODAL SECTION END */
.custom-section {
    max-width: 1200px;
    margin: 0 auto;
}
.custom-image-container {
    flex: 0 0 50%;
    padding: 10px;
    box-sizing: border-box;
}
.custom-image {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}
.custom-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0;
    padding: 1rem;
    transition: opacity 0.3s ease;
    font-size: 16px;
}
.custom-image:hover .text-overlay {
    opacity: 1;
}
.inventory-heading{
    font-size: 2em;
}
.custom-text {
    font-size: 1em;
}
.custom-image .text-overlay .inventory-view{
    border: .06rem solid white;
    color: #fff;
    font-size: 1em;
    border-radius: .5rem;
    padding: .3rem .8rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.custom-image .text-overlay .inventory-view:hover{
    color: white;
    background-color: black;
    border: .06rem solid black;
}

/* INVENTORY SECTION END */

/* INFORMATION SECTION START */
.box {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    /* border: 2px solid #000000; */
}
.box .info-sec-font {
    color: #666;
    margin-bottom: 0;
}
.box:hover{
    box-shadow: 0 0 10px #dfdfdf;
}
.box:hover img,h5{
    transform: translateY(-15%);
    transition: all .3s ease-in-out;
}
.box h5 {
    margin-top: 10px;
}
/* INFORMATION SECTION END */

/* FOOTER START  */
.footer{
    padding: 2rem 2rem .5rem 2rem;
    background-color: black;
}
.footer .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer h4{
    margin-bottom: .8rem;
    color: #ffffff; 
}
.footer ul{
    padding: 0;
}
.footer ul li{
    margin-bottom: .2rem;
    list-style: none;
}
.footer .sec a,p{
    color: #ffffff; 
    text-decoration: none;
}
.sec ul li,h4{
    text-align: center;
}
.footer .sec, .location{
    width: 14rem;
}
.footer .copy-right p{
    margin: 0;
    text-align: center;
    color: #ffffff; 
}
.footer .info .social a{
    color: #ffffff;
    margin-right: .7rem;
}
.footer hr{
    color: #ffffff;
}
/* FOOTER END */

/* MEDIA QUERIES */

@media (max-width: 1430px) {
    .carousel-inner .carousel-item .first-carousel{
        top: 50%;
        left: 35%;
        transform: translate(-35%, -50%);
    }
}
@media (max-width:1400px) {
    .product-image .view, .wishlist{
        font-size: .91rem;
    }
}
@media (max-width: 1270px) {
    .carousel-inner .carousel-item .first-carousel{
        top: 50%;
        left: 40%;
        transform: translate(-40%, -50%);
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 3.2rem;
        margin-bottom: 0;
    }
    .card-size .card-info{
        width: 8rem;
    }
    .card-size .card-info .card-heading{
        font-size: calc(1.75rem - 20%);
        margin-bottom: .25rem;
    }
    .card-size .card-info .card-dis{
        font-size: calc(.875rem - 20%);
        margin-bottom: .5rem;
    }
    .card-size .card-info .dis-btn{
        font-size: calc(1.25rem - 20%);
    }
    .offer-div{
        font-size: 15px;
    }
}
@media (max-width:1200px) {
    #cus-modal-heading{
        padding-top: 1rem;
    }
}
@media (max-width: 1160px) {
    .carousel-inner .carousel-item .first-carousel{
        top: 50%;
        left: 45%;
        transform: translate(-45%, -50%);
    }
    .carousel-inner .carousel-item .second-carousel{
        top: 50%;
        left: 47%;
        transform: translate(-47%, -50%);
    }
    .carousel-inner .carousel-item .third-carousel{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 3rem;
    }
    .carousel-text .shop-now{
        font-size: 1rem;
    }
    .first-para, .second-para, .third-para{
        font-size: 1rem;
    }
    .offer-div{
        font-size: 14px;
    }
}
@media (max-width: 1080px) {
    .carousel-inner .carousel-item .first-carousel{
        top: 50%;
        left: 48%;
        transform: translate(-48%, -50%);
        width: 41rem;
    }
    .carousel-inner .carousel-item .second-carousel{
        width: 41rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 35rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 3rem;
        margin-bottom: 0;
    }
    .first-para, .second-para, .third-para{
        font-size: 1rem;
    }
    .offer-div{
        font-size: 12.5px;
    }
}
@media (max-width: 992px) {
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    .first-carousel, .second-carousel{
        width: 38rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 32rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 2.8rem;
    }
    .carousel-text .shop-now{
        padding: .3rem .75rem;

    }
    .first-para, .second-para, .third-para{
        font-size: .9rem;
    }
    .offer-div{
        font-size: 11px;
    }
    .text-overlay{
        font-size: 14px;
    }
    .modal-body .row #cus-modal-sideimage{
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
        padding-top: 1rem;
    }
}
@media (max-width: 880px) {
    #carouselExampleAutoplaying .carousel-inner .carousel-item{
        height: 27.6rem;
    }
    #carouselExampleAutoplaying .carousel-inner .carousel-item img{
        height: 100%;
        object-fit: cover;
    }
    .carousel-inner .carousel-item .first-carousel{
        width: 31rem;
    }
    .carousel-inner .carousel-item .second-carousel{
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 26rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 27rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 2.5rem;
    }
    .carousel-text .shop-now{
        font-size: .9rem;
        padding: .3rem .55rem .3rem .75rem;
    }
    .carousel-text .shop-now span{
        font-size: 1.35rem;
    }
    .first-para, .second-para, .third-para{
        display: none;
    }
    .card-size .card-info{
        width: 6.5rem;
    }
    .card-size .card-info .card-heading{
        font-size: calc(1.75rem - 40%);
        margin-bottom: .125rem;
    }
    .card-size .card-info .card-dis{
        font-size: calc(.875rem - 20%);
        margin-bottom: .25rem;
    }
    .card-size .card-info .dis-btn{
        font-size: calc(1.25rem - 35%);
    }
    .offer-div{
        font-size: 10px;
    }
}
@media (max-width:768px) {
    .dis-row{
        justify-content: center;
    }
    #custom-cards{
        padding-left: 0;
        padding-right: 0;
    }
    #offerId{
        height: 15.9rem;
    }
    #offerId img{
        height: 100%;
        width:auto;
        object-fit: cover;
        object-position: 70%;
    }
    .offer-div{
        font-size: 8.5px;
    }
    .text-overlay{
        font-size: 12px;
    }
}
@media (max-width: 750px) {
    .carousel-inner .carousel-item .first-carousel{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 29rem;
    }
    .carousel-inner .carousel-item .second-carousel{
        width: 24rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 25rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 2.3rem;
    }
    .offer-div{
        font-size: 8px;
    }
}
@media (max-width: 700px) {
    .carousel-inner .carousel-item .second-carousel{
        width: 21rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 23rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 2.1rem;
    }
    .card-size{
        width: 45%;
    }
    .offer-div{
        font-size: 7.5px;
    }
    .text-overlay .inventory-heading{
        margin-bottom: 0;
    }
    .text-overlay .custom-text{
        margin-bottom: .5rem;
    }
}
@media (max-width:595px) {
    .carousel-inner .carousel-item .first-carousel{
        width: 19rem;
    }
    .carousel-inner .carousel-item .second-carousel{
        width: 17rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 22rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 2rem;
    }
    .carousel-text .shop-now{
        background-color: transparent;
        color: #000;
        text-decoration: underline red;
        font-size: 1rem;
        padding: 0;
    }
    .carousel-text .shop-now span{
        display: none;
    }
    #custom-cards{
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card-size{
        width: initial;
    }
    .card-size .card-info{
        width: 9rem
    }
    .card-size .card-info .card-heading{
        font-size: 1.75rem;
    }
    .card-size .card-info .card-dis{
        font-size: .875rem;
    }
    .card-size .card-info .dis-btn{
        color: #000;
        font-size: 1.2rem;
        text-decoration: underline;
    }
    .offer-div{
        font-size: 7px;
    }
    .custom-image-container {
        flex: 0 0 100%;
    }
    .text-overlay{
        font-size: 16px;
    }
    .text-overlay .inventory-heading{
        margin-bottom: .5rem;
    }
    .text-overlay .custom-text{
        margin-bottom: 1rem;
    }
}
@media (max-width:575px) {
    .cus-container{
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
@media (max-width:515px) {
    .carousel-inner .carousel-item .third-carousel{
        width: 20rem;
    }
    .product-image .image{
        height: 18rem;
    }
    .product-details .p-text{
        font-size: .899rem;
    }
    .product-details .price{
        font-size: .989rem;
    }
}
@media (max-width:471px) {
    .product-image .view{
    padding: 6px 11.8px
    }
    .product-image .wishlist{
    padding: .38rem .65rem;
    }
    .text-overlay{
        font-size: 14px;
    }
}
@media (max-width:450px) {
    .carousel-inner .carousel-item .first-carousel{
        width: 17rem;
    }
    .carousel-inner .carousel-item .second-carousel{
        width: 15rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 18rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 1.8rem;
    }
    .card-size .card-info{
        width: 8rem;
    }
    .card-size .card-info .card-heading{
        font-size: calc(1.75rem - 20%);
        margin-bottom: .25rem;
    }
    .card-size .card-info .card-dis{
        font-size: calc(.875rem - 20%);
        margin-bottom: .5rem;
    }
    .card-size .card-info .dis-btn{
        font-size: calc(1.25rem - 20%);
    }
    .product-image .image{
        height: 16rem;
    }
    .product-details .p-text{
        font-size: .85rem;
    }
    .product-details .price{
        font-size: .975rem;
    }
    .product-image .view, .wishlist i{
        font-size: .8rem;
    }
    .product-image .view{
        padding: 5px 8.8px
    }
    .product-image .wishlist{
        padding: .28rem .58rem;
    }
}
@media (max-width:420px) {
    .carousel-inner .carousel-item .third-carousel{
        width: 14.5rem;
    }
    .product-image .image{
        height: 15rem;
    }
}
@media (max-width:390px) {
    .carousel-inner .carousel-item .first-carousel{
        width: 11rem;
    }
    .first-carousel, .second-carousel{
        width: 16rem;
    }
    .carousel-inner .carousel-item  .third-carousel{
        width: 13.5rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 1.7rem;
    }
    .product-image .image{
        height: 14rem;
    }
    .product-image .view, .wishlist i{
        font-size: .7rem;
    }
    .product-image .view{
        padding: 5px 8.8px
    }
    .product-image .wishlist{
        padding: .2rem .55rem;
    }
    .text-overlay{
        font-size: 12px;
    }
    .text-overlay .inventory-heading{
        margin-bottom: 0;
    }
    .text-overlay .custom-text{
        margin-bottom: .5rem;
    }
}
@media (max-width:375px) {
    .carousel-inner .carousel-item .first-carousel{
        width: 9.5rem;
    }
    .carousel-inner .carousel-item .second-carousel{
        width: 12.5rem;
    }
    .carousel-inner .carousel-item .third-carousel{
        width: 12rem;
    }
    .carousel-text .first-text, .second-text, .third-text{
        font-size: 1.5rem;
    }
    .card-size .card-info{
        width: 6.5rem;
    }
    .card-size .card-info .card-heading{
        font-size: calc(1.75rem - 50%);
        margin-bottom: .125rem;
    }
    .card-size .card-info .card-dis{
        font-size: calc(.875rem - 20%);
        margin-bottom: .25rem;
    }
    .card-size .card-info .dis-btn{
        font-size: calc(1.25rem - 30%);
    }
    .product-image .image{
        height: 13rem;
    }
    .product-image .view{
        padding: 4px 5px
    }
    .product-image .wishlist{
        padding: .1rem .45rem;
    }
}