*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
/* <<<<<<<<< NAVBAR START >>>>>>>>>>> */
.navbar{
    padding: 1.3rem 0;
    box-shadow: 0 0 5px 0 #dfdfdf;
}
.navbar .container-xxl .nav-logo span, .offcanvas-logo{
    padding: 0 .35rem;
    border-radius: .4rem;
    color: white;
    background-color: red;
    font-size: 1.35rem;
}
.navbar .nav-text, .nav-logo{
    font-size: 1.35rem;
}
.navbar .nav-text:hover{
    color: red;
}
.navbar .nav-item .nav-shop{
    color: red;
}
.navbar .icon{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.navbar .icon a{
    color: #000;
}
.navbar .icon a:hover{
    color: red;
}
/* <<<<<<<< NAVBAR END >>>>>>>>>>> */

/* <<<<<<<< SHOPPING SECTION START >>>>>>>>> */
.shop .heading{
    text-align: center;
    margin-bottom: 2rem;
}
.category-sec{
    display: flex;
    justify-content: center;
}
.category-sec ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 1rem;
}
.category-sec ul li{
    list-style: none;
    width: 7rem;
    display: flex;
    justify-content: center;
    padding: .3rem .8rem;
    border-radius: .4rem;
    cursor:pointer;
}
.category-sec ul li:hover{
    background-color: red;
    color: white;
}
.active-color{
    background-color: #ededed;
}
.red{
    color: white;
    background-color: red;
}
.type{
    display: none;
}
.hide{
    display: none;
    transition: display 3s ease-in-out;
}
.show{
    display: inline-block;
    transition: display 3s ease-in-out;
}
.row .product-wrap .product-image{
    display: flex;
    justify-content: center;
    position: relative;
}
.row .product-wrap .product-image .image{
    height: 19.5rem;
    width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
    overflow: hidden;
}
.row .product-wrap .product-image .image img{
    height: 100%;
    width: 100%;
    transition: all .3s ease-in ;
}
.row .product-wrap .product-image:hover img{
    transform: scale(1.1);
}
.row .product-wrap .product-image .view, .wishlist{
    position: absolute;
    bottom: 1.5rem;
    border: none;
    transition: all .3s ease-in-out;
    opacity: 0;
    background-color: #ffffff;
}
.row .product-wrap .product-image .view{
    left: 50%;
    transform: translateX(-78%);
    padding: 7px 16px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;

}
.row .product-wrap .product-image .wishlist{
    right: 50%;
    transform: translateX(220%);
    padding: .39rem .67rem;
    border-radius: 50%;
}
.row .product-wrap .product-image:hover .wishlist{
    opacity: 1;
}
.row .product-wrap .product-image .wishlist:hover{
    color:#ffffff;
    background-color: red;
}
.row .product-wrap .product-image .view:hover{
    color:#ffffff;
    background-color: red;
}
.row .product-wrap .product-image:hover .view{
    opacity: 1;
}
.row .product-wrap .product-details{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
.row .product-wrap .product-details .p-text{
    color: #7c7c7c;
    line-height: 1.1rem;
}
.row .product-wrap .product-details .price{
    font-size: 1rem;
    color: #666;
}
.view-all{
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}
.view-all a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    padding: .35rem .8rem;
    background-color: #dedede;
    border-radius: 1.3rem;
}
.view-all a:hover{
    color: #ffffff;
    background-color: red;
}
/* <<<<<<< SHOPPING SECTION END >>>>>>>> */

/* <<<<<<< MODAL SECTION START>>>>>>> */
.show {
    transition: display 0.3s ease-out;
}
#cus-modal-image {
    height: 30rem;
    width: 25rem;
}
.modal-body .row #cus-modal-sideimage{
    flex-direction: column;
    margin-right: 1.5rem;
}
#cus-modal-image #cus-modal-img {
    height: 100%;
    width: 100%;
}
.add-cart, .buy-now {
    width: 8rem;
    padding: .3rem 0;
    border: 1px solid black;
    border-radius: .3rem;
}
.add-cart{
    border: .06rem solid red;
    background-color: transparent;
}
.buy-now{
    background-color: red;
    color: white;
    border: none;
}
.modal-side-image{
    height: 7rem;
    width: 6rem;
    border-radius: .3rem;
}
.modal-side-image .modal-side-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem;
}

.modal-fs{
    font-size: .9rem ;
}
.product-discription {
    display: none;
    font-size: 1.4rem;
}
.quantity-btn-group{
    display: inline-flex;
    border: .06rem solid rgba(0, 0, 0, 0.896);
    border-radius: .3rem;
    position: relative;
}
.quantity-btn-group .minus, .num, .plus{
    padding: .3rem .5rem;
}
.quantity-btn-group .num::before, .num::after{
    position: absolute;
    content: " ";
    width: 1rem;
    height: .1rem;
    background-color: rgba(0, 0, 0, 0.321);
    transform: rotate(90deg);
}
.quantity-btn-group .num::before{
    left:21%;
    top: 48%;
}
.quantity-btn-group .num::after{
    right: 21%;
    top: 48%;
}
.fa-share-nodes, .fa-circle-question, .fa-message, .share-ask-faq div{
    font-size: .85rem;
    cursor: pointer;
}
/* <<<<<<< MODAL SECTION END >>>>>>> */

/* <<<<<<<< FOOTER SECTION START >>>>>>>>> */
.footer{
    padding: 2rem 2rem .5rem 2rem;
    background-color: black;
}
.footer .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer h4{
    margin-bottom: .8rem;
    color: #ffffff; 
}
.footer ul{
    padding: 0;
}
.footer ul li{
    margin-bottom: .2rem;
    list-style: none;
}
.footer .sec a{
    color: #ffffff; 
    text-decoration: none;
}
.sec ul li,h4{
    text-align: center;
}
.footer .sec, .location{
    width: 14rem;
}
.footer .copy-right p{
    margin: 0;
    text-align: center;
    color: #ffffff; 
}
.footer .info .social a{
    color: #ffffff;
    margin-right: .7rem;
}
.footer hr{
    color: #ffffff;
}
/* <<<<<<<<< FOOTER SECTION END >>>>>>>>>> */

/*  <<<<<<<<<<< MEDIA QUERY START >>>>>>>>> */
@media (max-width:1400px) {
    .row .product-wrap .product-image .view, .wishlist{
        font-size: .91rem;
    }
}
@media (max-width:1200px) {
    #cus-modal-heading{
        padding-top: 1rem;
    }
}
@media (max-width:992px) {
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    .modal-body .row #cus-modal-sideimage{
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
        padding-top: 1rem;
    }
}
@media (max-width:576px) {
    .cus-container{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .category-sec ul{
        justify-content: center;
    }
}
@media (max-width:515px) {
    .category-sec ul li{
        font-size: .9rem;
    }
    .row .product-wrap .product-image .image{
        height: 18rem;
    }
    .row .product-wrap .product-details .p-text{
        font-size: .899rem;
    }
    .row .product-wrap .product-details .price{
        font-size: .989rem;
    }
}
@media (max-width:471px) {
    .row .product-wrap .product-image .view{
    padding: 6px 11.8px
    }
    .row .product-wrap .product-image .wishlist{
    padding: .38rem .65rem;
    }
}
@media (max-width:450px) {
    .row .product-wrap .product-image .image{
        height: 16rem;
    }
    .row .product-wrap .product-details .p-text{
        font-size: .85rem;
    }
    .row .product-wrap .product-details .price{
        font-size: .975rem;
    }
    .row .product-wrap .product-image .view, .wishlist i{
        font-size: .8rem;
    }
    .row .product-wrap .product-image .view{
        padding: 5px 8.8px
    }
    .row .product-wrap .product-image .wishlist{
        padding: .28rem .58rem;
    }
}
@media (max-width:420px) {
    .row .product-wrap .product-image .image{
        height: 15rem;
    }
}
@media (max-width:390px) {
    .row .product-wrap .product-image .image{
        height: 14rem;
    }
    .row .product-wrap .product-image .view, .wishlist i{
        font-size: .7rem;
    }
    .row .product-wrap .product-image .view{
        padding: 5px 8.8px
    }
    .row .product-wrap .product-image .wishlist{
        padding: .2rem .55rem;
    }
}
@media (max-width:375px) {
    .row .product-wrap .product-image .image{
        height: 13rem;
    }
    .row .product-wrap .product-image .view{
        padding: 4px 5px
    }
    .row .product-wrap .product-image .wishlist{
        padding: .1rem .45rem;
    }
}
/*  <<<<<<<<<<< MEDIA QUERY END >>>>>>>>> */
